<?xml version="1.0"?>
<!--
*
*  @author  Mediotype <@mediotype>
-->
<config>
    <modules>
        <Mediotype_BundleWizard>
            <version>0.1.2</version>
        </Mediotype_BundleWizard>
    </modules>
    <global>
        <models>
            <bundlewizard>
                <class>Mediotype_BundleWizard_Model</class>
                <resourceModel>bundlewizard_resource</resourceModel>
            </bundlewizard>
            <bundlewizard_resource>
                <class>Mediotype_BundleWizard_Model_Resource</class>
            </bundlewizard_resource>
            <bundle_resource>
                <rewrite>
                    <option_collection>Mediotype_BundleWizard_Model_Resource_Bundle_Option_Collection</option_collection>
                    <option>Mediotype_BundleWizard_Model_Resource_Bundle_Option</option>
                    <selection_collection>Mediotype_BundleWizard_Model_Resource_Bundle_Selection_Collection</selection_collection>
                </rewrite>
            </bundle_resource>
            <bundle>
                <rewrite>
                    <product_type>Mediotype_BundleWizard_Model_Bundle_Product_Type</product_type>
                    <option>Mediotype_BundleWizard_Model_Bundle_Option</option>
                    <selection>Mediotype_BundleWizard_Model_Bundle_Selection</selection>
                </rewrite>
            </bundle>
        </models>
        <blocks>
            <bundlewizard>
                <class>Mediotype_BundleWizard_Block</class>
            </bundlewizard>
            <bundle>
                <rewrite>
                    <adminhtml_catalog_product_edit_tab_bundle_option>Mediotype_BundleWizard_Block_Bundle_Adminhtml_Catalog_Product_Edit_Tab_Bundle_Option</adminhtml_catalog_product_edit_tab_bundle_option>
                    <catalog_product_view_type_bundle_option_checkbox>Mediotype_BundleWizard_Block_Bundle_Catalog_Product_View_Type_Bundle_Option_Checkbox</catalog_product_view_type_bundle_option_checkbox>
                    <catalog_product_view_type_bundle_option_multi>Mediotype_BundleWizard_Block_Bundle_Catalog_Product_View_Type_Bundle_Option_Multi</catalog_product_view_type_bundle_option_multi>
                    <catalog_product_view_type_bundle_option_radio>Mediotype_BundleWizard_Block_Bundle_Catalog_Product_View_Type_Bundle_Option_Radio</catalog_product_view_type_bundle_option_radio>
                    <catalog_product_view_type_bundle_option_select>Mediotype_BundleWizard_Block_Bundle_Catalog_Product_View_Type_Bundle_Option_Select</catalog_product_view_type_bundle_option_select>
                    <adminhtml_catalog_product_edit_tab_bundle_option_selection>Mediotype_BundleWizard_Block_Bundle_Adminhtml_Catalog_Product_Edit_Tab_Bundle_Option_Selection</adminhtml_catalog_product_edit_tab_bundle_option_selection>
                    <catalog_product_view_type_bundle>Mediotype_BundleWizard_Block_Bundle_Catalog_Product_View_Type_Bundle</catalog_product_view_type_bundle>
                </rewrite>
            </bundle>
        </blocks>
        <helpers>
            <bundlewizard>
                <class>Mediotype_BundleWizard_Helper</class>
            </bundlewizard>
            <bundle>
                <rewrite>
                    <catalog_product_configuration>Mediotype_BundleWizard_Helper_Bundle_Catalog_Product_Configuration</catalog_product_configuration>
                </rewrite>
            </bundle>
        </helpers>
        <resources>
            <mediotype_bundlewizard_setup>
                <setup>
                    <module>Mediotype_BundleWizard</module>
                </setup>
            </mediotype_bundlewizard_setup>
        </resources>
        <catalog>
            <product>
                <options>
                    <bundle>
                        <types>
                            <textbox>
                                <label>Text Map</label>
                            </textbox>
                            <autoadd>
                                <label>Auto Add</label>
                            </autoadd>
                        </types>
                    </bundle>
                </options>
            </product>
        </catalog>
    </global>
    <frontend>
        <layout>
            <updates>
                <Mediotype_BundleWizard>
                    <file>mediotype/bundlewizard/bundle.xml</file>
                </Mediotype_BundleWizard>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <Mediotype_BundleWizard>
                    <file>mediotype/bundlewizard/bundle.xml</file>
                </Mediotype_BundleWizard>
            </updates>
        </layout>
    </adminhtml>
</config>